@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Nohemi";
    font-weight: 400;
    src: url('fonts/nohemi/Nohemi-Medium.woff2') format('woff2'), url('fonts/nohemi/Nohemi-Medium.woff') format('woff')
}